.contact-us {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin: 0;
  margin-left: auto;
  margin-right: 3.5%;
  padding: 0;
  width: 430px;
}

@media (max-width: $tablet-width) {
  .contact-us {
    margin-right: 0;
    width: 83px;
  }
}

@media (max-width: $mobile-width) {
  .contact-us {
    width: 72px;
  }
}

.contact-us__item {
  list-style: none;

  a {
    font-family: $secondary-font;
    color: $font-color-light;
  }

  &:hover {
    opacity: 0.5;
  }
}

@media (max-width: $tablet-width) {
  .contact-us__item--email {
    margin-right: 59px;
  }
}

@media (max-width: $mobile-width) {
  .contact-us__item--email {
    margin-right: 48px;
  }
}

.contact-us__email,
.contact-us__tel {
  display: flex;

  &::before {
    content: "";
    background-size: 100%;
    display: inline-block;
    vertical-align: middle;
  }

  &:hover {
    color: $main-color;
  }
}

.contact-us__email {
  &::before {
    margin-right: 20px;
    background-image: url("../img/envelope.svg");
    background-repeat: no-repeat;
    width: 19px;
    height: 14px;
  }
}

@media (max-width: $tablet-width) {
  .contact-us__email {
    span {
      display: none;
    }

    &::before {
      margin-right: -25px;
      width: 25.33px;
      height: 18.67px;
    }
  }
}

.contact-us__tel {
  &::before {
    margin-right: 16px;
    background-image: url("../img/phone-call.svg");
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
  }
}

@media (max-width: $tablet-width) {
  .contact-us__tel {
    span {
      display: none;
    }

    &::before {
      margin-right: 0;
      width: 24px;
      height: 24px;
    }
  }
}
