@import "./contact-us.scss";

.page-header {
  display: flex;
  width: 100%;

  background-color: #1b2d37;
}

.page-header__wrapper {
  margin: 33px auto;
  display: flex;
  justify-content: space-between;

  width: 73.49%;
}
