@import "./contact-us.scss";

.page-header {
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  z-index: 1;
}

.page-header__wrapper {
  margin: 33px auto;
  padding: 0 20px;
  display: flex;
  align-items: center;

  width: 75.5%;
  min-width: $tablet-width;
}

@media (max-width: $tablet-width) {
  .page-header__wrapper {
    margin: 20px auto;
    width: 93.5%;
    min-width: $mobile-width;
  }
}

@media (max-width: $mobile-width) {
  .page-header__wrapper {
    margin: 17px auto;
    padding: 0;
    width: 90%;
    min-width: 100px;

    img {
      width: 38px;
      height: 38px;
    }
  }
}

.page-header__button {
  display: inline-flex;
  justify-content: center;
  align-items: center;

  width: 180px;
  height: 45px;
  border-radius: 5px;
  border: 1px solid $font-color-light;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-family: $primary-font;
  color: $font-color-light;
  background-color: transparent;

  &:hover {
    opacity: 0.5;
  }
}

@media (max-width: $tablet-width) {
  .page-header__button {
    display: none;
  }
}
