@import "./contact-us.scss";

.page-header {
  position: absolute;
  display: flex;
  width: 100%;
  z-index: 1;
}

.page-header__wrapper {
  margin: 33px auto;
  display: flex;

  width: 73.49%;
}

@media (max-width: $tablet-width) {
  .page-header__wrapper {
    margin: 20px auto;
    width: 93.5%;
  }
}

@media (max-width: $mobile-width) {
  .page-header__wrapper {
    margin: 17px auto;
    width: 90%;
  }
}

.age-header__logo {
  width: 202px;
  height: 52px;
}

.page-header__button {
  margin: 3px 0;
  padding: 13px 28px;
  border-radius: 5px;
  border: 1px solid $font-color-light;

  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.6px;
  font-family: $primary-font;
  color: $font-color-light;
  background-color: transparent;
}

@media (max-width: $tablet-width) {
  .page-header__button {
    display: none;
  }
}
