.services {
  margin: 0 auto;
  padding: 90px 10px 80px;

  text-align: center;
  color: $font-color-light;
  background-color: $dark-background;

  h2 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 58px;

    max-width: 1164px;
    text-align: left;
    font-size: 36px;
    line-height: 44px;
  }
}

@media (max-width: $tablet-width) {
  .services {
    padding-top: 18px;
    padding-bottom: 34px;

    h2 {
      margin-bottom: 50px;
      max-width: 720px;
      font-size: 32px;
    }
  }
}

@media (max-width: $mobile-width) {
  .services {
    padding: 20px 15px 32px;

    h2 {
      margin-bottom: 40px;
      padding-left: 10px;
      width: 100%;
      font-size: 28px;
      line-height: 40px;
    }
  }
}

.services__list {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding: 0;
  max-width: 1164px;

  text-align: center;
  list-style: none;

  h3 {
    display: block;
    padding: 13px 155px 0px 44px;

    font-size: 20px;
    color: $font-color-light;
    text-align: left;
    line-height: 30px;
  }
}

@media (max-width: $tablet-width) {
  .services__list {
    flex-wrap: wrap;

    h3 {
      width: 50%;
    }
  }
}

@media (max-width: $mobile-width) {
  .services__list {
    h3 {
      padding-left: 35px;
      padding-right: 0;

      width: 71%;
    }
  }
}

.services__item {
  margin-right: 26px;
  margin-bottom: 46px;
  position: relative;

  width: 370px;
  min-height: 620px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &:last-child {
    margin-right: 0;
  }

  &--production {
    background-image: url('../img/production.png');
  }

  &--installation {
    background-image: url('../img/installation.png');
  }

  &--component-parts {
    background-image: url('../img/component-parts.png');
  }

  a {
    display: block;
    width: 100%;
    height: 100%;
  }

  a::after {
    content: ">";
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 0;
    bottom: 0;

    width: 63px;
    height: 63px;
    color: $font-color-light;

    background-color: $main-color;
  }
}

@media (max-width: $tablet-width) {
  .services__item {
    margin-right: auto;
    margin-left: auto;
    width: 720px;
    min-height: 256px;

    &:last-child {
      margin-left: auto;
      margin-right: auto;
    }
  }
}

@media (max-width: $mobile-width) {
  .services__item {
    min-width: 290px;
    margin-bottom: 31px;
  }
}
