@media (max-width: $mobile-width) {
  .accordeon__label {
    width: 16px;
    height: 16px;

    background-image: url('../img/plus.svg');
  }

  .accordeon__control:checked ~ .accordeon__label {
    height: 2px;
    background-image: url('../img/minus.svg');
  }

  .accordeon__control:checked ~ .accordeon__content {
    display: block;
  }

  .accordeon__content {
    display: none;
  }
}
