.copyright {
  border-top: 1px solid $line-color;
  text-transform: uppercase;
  font-size: 13px;
  font-family: $secondary-font;

  span {
    letter-spacing: 0.5px
  }
}

.copyright__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 19px 15px 17px 12px;
  width: 75%;
}

@media (max-width: $tablet-width) {
  .copyright__wrapper {
    padding: 23px 28px;
    width: 100%;

    span:first-child {
      display: none;
    }
  }
}

@media (max-width: $mobile-width) {
  .copyright__wrapper {
    flex-direction: column;
    align-items: center;
    padding-top: 31px;
    padding-bottom: 31px;

    span:last-child {
      margin-top: 28px;
    }
  }
}
