.copyright {
  border-top: 1px solid #626962;
  text-transform: uppercase;
  font-size: 13px;
  font-family: $secondary-font;

  span {
    letter-spacing: 0.5px
  }
}

.copyright__wrapper {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 17px 15px 17px 12px;
  width: 75%;
}

.copyright__info {
  display: flex;
  width: 57.7%;

  span:first-child {
    margin-right: 9%;
  }

  span:last-child {
    margin-left: auto;
  }
}
