.page-footer__info {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 64px 10px 56px;

  width: 76%;
  min-width: $tablet-width;
}

@media (max-width: $tablet-width) {
  .page-footer__info {
    flex-wrap: wrap;
    padding: 19px 0 26px;
    width: 100%;
    min-width: $mobile-width;
  }
}

@media (max-width: $mobile-width) {
  .page-footer__info {
    padding-top: 43px;
    padding-bottom: 0;
    min-width: 100px;
  }
}

.page-footer__col-wrapper {
  padding-left: 12px;
  width: 25%;

  img {
    margin-bottom: 55px;
  }

  span {
    position: absolute;
    left: 26%;
    bottom: 17px;

    font-family: $secondary-font;
    font-size: 13px;
    text-transform: uppercase;
  }
}

@media (max-width: $tablet-width) {
  .page-footer__col-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 37px;
    padding: 0 25px 25px;
    width: 100%;

    border-bottom: 1px solid $line-color;

    img {
      margin-bottom: 0;
    }

    span {
      position: static;
    }
  }
}

@media (max-width: $mobile-width) {
  .page-footer__col-wrapper {
    flex-direction: column;
    margin-bottom: 0;
    padding-bottom: 50px;

    img {
      margin-bottom: 30px;
    }

    span {
      margin-bottom: 34px;
    }
  }
}

.page-footer__social {
  display: flex;

  li {
    margin-right: 15px;

    &:last-child {
      margin-right: 0;
    }
  }

  svg:hover {
    fill: $main-color;
  }
}

@media (max-width: $tablet-width) {
  .page-footer__social {
    align-items: flex-end;
  }
}

.page-footer__sections {
  padding-left: 3%;
  width: 45%;

  h2 {
    margin-bottom: 27px;
  }

  ul {
    width: 98%;
    font-family: $secondary-font;
    columns: 2;
  }

  li {
    margin-bottom: 8px;
  }

  a {
    opacity: 0.5;
  }
}

@media (max-width: $tablet-width) {
  .page-footer__sections {
    padding-left: 26px;
    width: 50%;

    ul {
      columns: 1;
    }
  }
}

@media (max-width: $mobile-width) {
  .page-footer__sections {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 28px 15px 22px;
    width: 100%;

    h2 {
      margin-bottom: 0;
    }

    .accordeon__content {
      margin-top: 30px;
    }
  }
}

.page-footer__address {
  padding-left: 12px;
  width: 25%;
  min-width: 345px;
  font-family: $secondary-font;

  h2 {
    margin-bottom: 28px;
  }

  address {
    margin-bottom: 8px;
    font-style: normal;
    font-family: $secondary-font;
    opacity: 0.5;
  }

  p {
    margin: 0 0 5px;
  }

  a {
    margin-bottom: 6px;
    display: block;
    color: $footer-text-color;
  }
}

@media (max-width: $tablet-width) {
  .page-footer__address {
    padding-left: 16px;
    width: 50%;
  }
}

@media (max-width: $mobile-width) {
  .page-footer__address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;

    padding: 28px 15px 22px;

    width: 100%;
    min-width: 100%;
    border-top: 1px solid $line-color;

    h2 {
      margin-bottom: 0;
    }

    .accordeon__content {
      margin-top: 30px;
      margin-bottom: 3px;
      width: 100%;
      line-height: 26px;
    }
  }
}
