@import "./info.scss";
@import "./copyright.scss";

.page-footer {
  position: relative;
  font-size: 15px;
  color: $footer-text-color;

  h2 {
    margin-top: 0;
    font-size: inherit;
    text-transform: uppercase;
    letter-spacing: 0.6px;
  }

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
}
