@import "./advantage.scss";

.advantages {
  margin: 0 auto;
  padding-top: 113px;
  width: 60.94%;
  min-width: 975px;
}

@media (max-width: $tablet-width) {
  .advantages {
    padding-top: 53px;
    width: 93.5%;
    min-width: 700px;
  }
}

@media (max-width: $mobile-width) {
  .advantages {
    padding-top: 38px;
    width: 90.6%;
    min-width: 290px;
  }
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;
  margin: 0;
  padding: 0;

  list-style: none;
}
