.advantage {
  margin-bottom: 31px;
  padding: 40px 42px;

  width: 48.7%;
  min-height: 299px;
  background-color: $font-color-light;
  border: 1px solid $border-color;
  border-left: 3px solid $main-color;

  h3 {
    margin: 0;
    padding: 23px 0;

    font-size: 24px;
    font-weight: normal;
    color: $main-color;
  }

  p {
    margin: 0;

    font-family: $secondary-font;
    color: $font-grey;
    line-height: 22px;
  }

  &:hover {
    background-color: $main-color;

    h3,
    p {
      color: $font-color-light;
    }

    svg {
      fill: $font-color-light;
    }
  }

  &--confidentiality svg {
    width: 36px;
    height: 31px;
  }
}

@media (max-width: $tablet-width) {
  .advantage {
    margin-bottom: 28px;
    padding: 23px 20px 23px 25px;

    width: 48%;
    min-height: 232px;

    h3 {
      padding-top: 12px;
      padding-bottom: 15px;
    }

    &--suppliers svg {
      width: 32.18px;
    }

    &--confidentiality svg {
      width: 30.31px;
      height: 26.1px;
    }

    &--cost svg {
      width: 32.18px;
      height: 32.18px;
    }
  }
}

@media (max-width: $mobile-width) {
  .advantage {
    margin-bottom: 22px;
    padding-right: 15px;

    width: 100%;

    h3 {
      padding-top: 9px;
      padding-bottom: 9px;
      font-size: 20px;
      line-height: 28px;
    }

    &--suppliers {
      padding-right: 10px;
    }

    &--confidentiality svg {
      width: 30.2px;
      height: 26.1px;
    }
  }
}
