@import "./normalize.scss";
@import "./variables.scss";
@import "./fonts.scss";
@import "./common.scss";
@import "./blocks/page-header/page-header.scss";
@import "./blocks/main-screen/main-screen.scss";
@import "./blocks/advantages/advantages.scss";
@import "./blocks/about-company/about-company.scss";
@import "./blocks/services/services.scss";
@import "./blocks/form/form.scss";
@import "./blocks/page-footer/page-footer.scss";
@import "./blocks/modal/modal.scss";

.main {
  flex: 1 0 auto;
  background-image: url('../img/background-light-desktop.png');
  background-repeat: no-repeat;
  background-size: 125%;
  background-position: top 878px center;
}

@media (max-width: $tablet-width) {
  .main {
    background-image: url('../img/background-light-tablet.png');
    background-position: top 691px right -391px;
    background-size: 189%;
  }
}
