$primary-font: "Roboto Condensed", "Arial", sans-serif;
$secondary-font: "PT Mono", courier, monospace;

$desktop-width: 1024px;
$tablet-width: 1023px;
$mobile-width: 767px;

$font-color-light: #ffffff;
$main-color: #00B2FF;
$font-grey: #666666;
$border-color: #EBEBEB;
$dark-background: #1B2D37;
$mask-img-color: #C4C4C4;
$input-background: #19baff;
$footer-text-color: #1B2D37;
